*.db*
*.log*
*.pyc
*.txt
.HA_VERSION
.history
.storage
/.cloud
/appdaemon
/certificate
/config
/custom_icons
/dwains-dashboard
/image
/node-red
/secrets.yaml
/tts
/www
/zigbee2mqtt
blueprints/switch_manager
custom_components/
esphome/*
homematicip_local/cache/raspberrymatic_homematic_devices.json
homematicip_local/cache/raspberrymatic_homematic_paramsets.json
homematicip_local/session/raspberrymatic_homematic_session_recorder.json
solcast-sites.json
solcast-undampened.json
solcast-usage.json
solcast.json
themes/
ui_lovelace_minimalist
.cache/
beatify/
homematicip_local/